@import url("//cdn.web-fonts.ge/fonts/bpg-banner/css/bpg-banner.min.css");

*{
  margin:0;
  padding:0;
  font-family: "BPG Banner", sans-serif;

}
body{
  position: relative;
  min-height: 100vh;
}
.card-container{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  border: 1px solid white;
  transition: .3s;
  display: flex;
  margin:50px;
  width:250px;
  height:300px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.card-container div img{
  width:200px;
  margin:10px;
}
.card-body{
  margin:15px;
}
.card-body p{
  margin-top:5px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.card-container{
  margin-bottom:70px;
}
select{
  margin-top:50px;
  width:30%;
  height:30px;
  font-size:15px;
}
.chrdili{
  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px, rgb(51, 51, 51)0px 0px 0px 3px;
}
h1,h2,h3,h4,h5,p{
  text-align: center;
}
header{
  margin-top:50px;
}
header h2{
  margin-top:10px;
}
footer{
  display: flex;
  margin-top:100px;
  justify-content: center;
  align-items: center;
}
ul{
  display: flex;
  list-style: none;
  padding:20px;
  align-items: center;
  justify-content: space-between;
}
a{
  margin:5px;
  text-decoration: none;
  color:black;
  font-size:25px;
  transition: .2s;
}
a:hover{
  color:gray;
}

.card:hover{
 
  border: 1px solid gray
}
.notfound-container{
  margin-top:100px;
}
.notfound-container h1{
  color:red;
  margin-bottom:30px;
}
.notfound-container h2{
  color:gray;
}
.footer-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.grouped-team{
  margin-top:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-collapsed{
  height:0px;
  opacity:0;
  position: absolute;
  top:-100px;
  z-index:-1;
}
.grouped-cont{
  
  margin:20px;
  padding:10px;
  width:400px;
  border:1px solid black;
}
.tito-wevri{
  margin:10px;
  padding:10px;
}